{% extends 'bean_app/base.html' %}
{% load staticfiles %}
{% load bean_app_template_tags %}

{% block title_block %}
    BeanStack Vendor Signup
{% endblock %}

{% block body_block_alt %}
    <div class="login-dark">
        <div class="form-container">
            <form action="." method="post" style="min-height: 650px; min-width: 400px;">
                <div class="illustration"><i class="icon ion-ios-cog-outline" ></i></div>

                Username: <span style="color: #999999;">{{user}}</span><br>
                {% if user.email %}Email: <span style="color: #999999;">{{ user.email }}</span><br>{% endif %}

                <span >Saved Coffees:</span>
                <select id="selecter" class="form-control" name="products_in_stock" id="id_products_in_stock" multiple="multiple" type="checkbox">
                    <!--jQuery/Ajax inserts stuff into here-->
                </select>

                <span style="margin-left: 11px;">Change password:</span>
                {% csrf_token %}

                <p class="required">
                <div class="form-group">
                <input class="form-control" type="password" name="old_password" maxlength="128" required id="id_old_password" placeholder="old password"/>
            </div>
                </p>
                <p class="required">
                <div class="form-group">
                <input class="form-control" type="password" name="new_password1" required id="id_new_password1" placeholder="new password"/>
            </div>
                </p>

                <p class="required">
                <div class="form-group">
                <input class="form-control" type="password" name="new_password2" maxlength="128" required id="id_new_password2" placeholder="repeat new password"/>
            </div>
                </p>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
<script src="{% static 'assets/js/password_change.js' %}"></script>
{% endblock %}



