/* CSS FOR THE LOGIN PAGE */
/* This is all basically just a dirty hack to stop the form messing up the
existing background on the page */

.login-dark {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  height:500px;
  background:#475d62 url(../../assets/img/star-sky.jpg);
  background-size:cover;
  position:center;
  max-width:320px;
  width:90%;
}

.login-dark form {
  max-width:320px;
  min-height: 500px;
  width:100%;
  height: 100%;
  background-color:#1e2833;
  padding:40px;
  border-radius:0px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

/* This is css for the sign up for to make it look like the login form */

.signup-dark form {
  max-width:320px;
  max-height: 500px;
  width:100%;
  height: 100%;
  background-color:#1e2833;
  padding:40px;
  border-radius:0px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

/* CSS FOR THE MAPS */
/* Always set the map height explicitly to define the size
of the div element that contains the map. */

#map {
height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}

.to-hide {
    display: none !important;
}


/* ---  Styles for the radar graph --- */
html, body {
    height:100%;
    width:100%;
}
#myChart {
    height:100%;
    width:100%;
    min-height:250px;
}
.zc-ref {
    display:none;
}


/* -- MEDIA QUERIES --- */

/* This  is a custom overridable version of the bootstrap pull-right class.
This is needed because the pull-right class itself can't be overridden. */
.pull-right-override {
    float: right;
}

@media only screen and (max-width: 1000px) {
    .pull-right-override {
        float: none;
    }
}

@media only screen and (max-width: 764px) {
    .to-hide {
        display: inline !important;
    }
    #main-menu-dropdown{
        display: none !important;
    }
}

@media only screen and (max-width: 400px) {

    /* Adjust the size of the button on the home screen for very small screens */
    #home-button {
        font-size: 14px;
        padding: 4px 8px;
    }
}

