{% extends 'bean_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    BeanStack About
{% endblock %}

{% block body_block_alt %}
     <div class="header-blue team-grid">
         <div class="container">
             <div class="intro">
                 <h2 class="text-center" style="color:#FFFFFF">About BeanStack</h2>
                 <p class="text-center" style="color: white; opacity: 0.4; ">
                        BeanStack is all about connecting people with fantastic coffee that is recommended and loved by
                     by our community of coffee enthusiasts. You can browse reviews by others to discover the next coffee
                     that you absolutely need to experience, find out how to get your hands on the coffee and then write
                     your own review.
                 </p>
                 <br>
                 <h4 class="text-center" style="color: white;">Meet the BeanStack team:</h4>
             </div>
             <div class="row people">
                 <div class="col-md-3 col-sm-4 item" >
                     <div class="box" style="background-image:url(1.jpg)">
                         <div class="cover" style="opacity:0.7;" onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='0.7'" >
                             <h3 class="name">Sarthak Kapoor</h3>
                             <p class="title"> </p>
                             <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-4 item">
                     <div class="box" style="background-image:url(2.jpg)">
                         <div class="cover" style="opacity:0.7;" onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='0.7'" >
                             <h3 class="name">Stuart Miller</h3>
                             <p class="title"> </p>
                             <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-4 item">
                     <div class="box" style="background-image:url(3.jpg)">
                         <div class="cover" style="opacity:0.7;" onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='0.7'" >
                             <h3 class="name">Antreas Kontopoulos</h3>
                             <p class="title"> </p>
                             <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-4 item">
                     <div class="box" style="background-image:url(4.jpg)">
                         <div class="cover" style="opacity:0.7;" onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='0.7'" >
                             <h3 class="name">Sumedh Mane</h3>
                             <p class="title"> </p>
                             <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
{% endblock %}






