{% extends 'bean_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    BeanStack About
{% endblock %}


{% block body_block %}
    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">About us - The Bean Stack Team </h2>
                <p class="text-center">About us.&nbsp; </p>
            </div>
            <div class="row people">
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image:url(1.jpg)">
                        <div class="cover">
                            <h3 class="name">Sarthak Kapoor</h3>
                            <p class="title"> </p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image:url(2.jpg)">
                        <div class="cover">
                            <h3 class="name">Stuart Miller</h3>
                            <p class="title"> </p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image:url(3.jpg)">
                        <div class="cover">
                            <h3 class="name">Andreas Kontopolous</h3>
                            <p class="title"> </p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image:url(4.jpg)">
                        <div class="cover">
                            <h3 class="name">Sumedh Mane</h3>
                            <p class="title"> </p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}