{% extends 'bean_app/base.html' %}
{% load staticfiles %}
{% load bean_app_template_tags %}

{% block title_block %}
    Brewing details
{% endblock %}

{% block head_block %}
    <meta name="viewport" content="initial-scale=0.5, user-scalable=no">
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
{% endblock %}

{% block banner_block %}
    <div class="container hero">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                <h2 style="color:#FFFFFF" class="text-left">AeroPress</h2>
                <p style="opacity: 0.7; color:#FFFFFF;">
                    Relatively new, the maker of Aerobie Frisbee (Alan Adler) created and launched the AeroPress in 2005. 
					The AeroPress is plastic and comes in 3 parts. A filter sits in a coffee basket at the bottom of the 
					brew chamber. Coffee grounds rest in the brew chamber where hot water is added then immerses/steeps 
					the coffee. To extract the coffee, a plunger is pressed down creating air pressure to force brewed 
					coffee through a filter and into a cup.
					<br>
					<br>
					<br>
				    • &nbsp Grind of Beans: fine-medium <br>
                    • &nbsp Ground Coffee: 2.5 tablespoons of coffee (17g) <br>
                    • &nbsp Brewing Time: 1-2 minutes <br>
                    • &nbsp Flavour Profile: sweet, full-bodied, espresso-style coffee <br>
                    • &nbsp Cost: $40-50 (extra cost for filters) <br>
                    • &nbsp Produces a single cup of coffee <br>                  
                    • &nbsp Easy to clean <br>
                    • &nbsp Portable, especially popular with campers <br>
                    • &nbsp Requires AeroPress micro paper filters (or a fine metal filter) <br>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                <img class="img-responsive" src="{% static 'assets/img/AeroPress-Coffee-Brewing-300x300.jpg' %}">
            </div>
			
        </div>
    </div>
{% endblock %}

