<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_block %}
    {% endblock %}
    <title>
        {% block title_block %}
            BeanStack
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{% static '/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-Dual-Column.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Clean.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Header-Blue.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Profile-Edit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Profile-Edit1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Reviewbtn.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Reviewbtn1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Slides_home.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Tag-cloud.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-Grid.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/User-Chat.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/override-styles.css' %}">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/manifest.json' %}">
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
</head>

<body>
    <!--Header Div-->
    <div>
        <!--nav bar-->
        <div class="header-blue" style="min-height: 900px;">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                    <div class="navbar-header"><a class="navbar-brand navbar-link" href="{% url 'home' %}">Bean Stack</a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li role="presentation"><a href="{% url 'about' %}">About </a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Beans <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a href="#">Reviews and Ratings</a></li>
                                    <li role="presentation"><a href="{% url 'browse' %}">Bean Types </a></li>
                                    <li role="presentation"><a href="#">Brewing </a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" target="_self" method="get" action="{% url 'search' %}">
							<div class="form-group">
                                <label class="control-label" for="search-field"><i class="glyphicon glyphicon-search"></i></label>
                                <input class="form-control search-field" type="search" name="q" value="{{ query }}" id="query" placeholder="Search ...">
                            </div>
                        </form>
                        <p class="navbar-text navbar-right">
                            {% if user.is_authenticated %}
                                <a class="navbar-link login" href="{% url 'auth_password_change' %}">Change password</a>
                                <a class="navbar-link login" href="{% url 'auth_logout' %}?next=/bean_app/home/">Log out</a>
                                <a class="navbar-link login" href="{% url 'my_beanstack' %}">my BeanStack</a>
                                <span class="btn btn-default action-button" >{{ user.username }}</span>
                            {% else %}
                                <a class="navbar-link login" href="{% url 'auth_login' %}">Log In</a>
                                <a class="btn btn-default action-button" role="button" href="{% url 'registration_register' %}">Sign Up</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </nav>

            <!--This block is to accommodate the banner on the home page that doesn't appear anywhere else-->
            {% block banner_block %}
            {% endblock%}

            <!--This is an alternative body block browse.html requires that the body sits within the header blue tag
            to get the 'full length header effect'-->
            {% block body_block_alt %}
            {% endblock %}

        </div>
    </div>

    <!--Body Div-->
    <div class="article-list">
        {% block body_block %}
        {% endblock %}
    </div>

    <!--The map block is a little bit of a hack because the map can't be in the article list tag. Maybe you can pass that tag
    into the template for the pages that need it rather than having it always there?-->
    {% block map_block %}
    {% endblock %}

    <!-- Footer Div-->
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 item">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="{% url 'vendorsignup' %}">Register your business on BeanStack</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                            <li><a href="#">Reviews </a></li>
                            <li><a href="{% url 'browse' %}">Bean Types</a></li>

                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 item">
                        <ul>
                            <li><a href="#">School of Computing Science, University of Glasgow </a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 item">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item social"><a href="#">
                        <i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a>
                        <a href="#"><i class="icon ion-social-snapchat"></i></a>
                        <a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">All rights reserved &nbsp; </p>
                        <p class="copyright">Bean Stack © 2018 </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/Profile-Edit.js' %}"></script>
    <script src="{% static 'assets/js/Reviewbtn.js' %}"></script>

</body>

</html>