{% extends 'bean_app/base.html' %}
{% load staticfiles %}
{% load bean_app_template_tags %}

{% block title_block %}
    {{ bean.name }}
{% endblock %}

{% block body_block %}
    <h1>{{ bean.name }}</h1>
    <img src="{% static 'assets/img/BeanType2.png' %}" alt="">
    <h3>location: {{ bean.location }}</h3>
    <p>description: {{ bean.description }}</p>
    <p>price: {{ bean.price }}</p>


    <p>
        average rating: {{ average_rating }}
        {% autoescape off %}
            <span style="background: black;">{% get_stars bean.average_rating %}</span>
        {% endautoescape %}
    </p>
    These are the tags for this coffee: <br>
    {% for tag in tags %}
        {{ tag }}<br>
    {% endfor %}

    These are all the reviews for this coffee: <br>
    {% for review in reviews %}
        <strong>{{ review }}</strong><br>
        {{ review.rating }}<br>
        {{ review.comment }}<br><br>
    {% endfor %}
    <button>save coffee </button>
    <button>find vendor</button>
{% endblock %}