{% extends 'bean_app/base.html' %}
{% load staticfiles %}
{% load bean_app_template_tags %}

{% block title_block %}
    Brewing details
{% endblock %}

{% block head_block %}
    <meta name="viewport" content="initial-scale=0.5, user-scalable=no">
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
{% endblock %}

{% block banner_block %}
    <div class="container hero">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                <h2 style="color:#FFFFFF", class="text-left">Coffee Cone</h2>
                <p style="opacity: 0.7; color:#FFFFFF;">
					One of the oldest, simplest, fastest and cheapest ways to brew coffee is the drip method using
					a coffee cone and paper filter. Hot water is poured evenly over coffee grounds in a paper filter. 
					With gravity, the brewed coffee drips slowly and directly into a cup or pot. Coffee cones are 
					made of plastic, glass, stainless steel or ceramic. The shape of the cone and their filters will 
					influence the flavours. Popular brands include Melitta, Hario V60, Kalita Wave and Bee House.
					<br>
					<br>
					<br>
				    • &nbsp Grind of Beans: medium-fine to coarse <br>
                    • &nbsp Quantity of Coffee: 3 tablespoons of coffee (21g) <br>
                    • &nbsp Brewing Time: 1-3 minutes <br>
                    • &nbsp Flavour Profile: Smooth, round body <br>
                    • &nbsp Cost: $8-$71 (extra cost for filters) <br>
                    • &nbsp Produces a single cup of coffee <br>                  
                    • &nbsp Easy to clean <br>
                    • &nbsp Portable <br>
                    • &nbsp Requires paper filters that match the cone <br>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                <img class="img-responsive" src="{% static 'assets/img/Pour-Over-Coffee-Brewing-300x300.jpg' %}">
            </div>
			
        </div>
    </div>
{% endblock %}

