{% extends 'bean_app/base.html' %}
{% load staticfiles %}
{% load bean_app_template_tags %}

{% block title_block %}
    Brewing details
{% endblock %}

{% block head_block %}
    <meta name="viewport" content="initial-scale=0.5, user-scalable=no">
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
{% endblock %}

{% block banner_block %}
    <div class="container hero">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                <h2 style="color:#FFFFFF", class="text-left">French Press</h2>
                <p style="opacity: 0.7; color:#FFFFFF;">
					The French Press method, invented in 1929, is widely considered as the best and easiest
					method for brewing superior and consistent coffee. It extracts, arguably, more superior 
					flavours than any other method. In a press pot, ground coffee is soaked, steeped and 
					strained in hot water; therefore, coffee’s flavourful essential oils, caffeine and 
					antioxidants are better diffused and preserved leaving the purest flavours of the coffee. 
					It is well suited for coffee drinkers that enjoy a luscious, expressive and complex taste experience.
					<br>
					<br>
					<br>
				    • &nbsp Grind of Beans: coarse <br>
                    • &nbsp Ground Coffee: 2-2.5 tablespoons of coffee (14-17g) for one cup <br>
                    • &nbsp Brewing Time: 4 minutes <br>
                    • &nbsp Flavour Profile: pure, clean flavour nuances that are complex and robust body <br>
                    • &nbsp Cost: $8-112 <br>
                    • &nbsp Various sizes producing up to 8 cups of coffee <br>                  
                    • &nbsp Easy to clean <br>
                    • &nbsp Portable, especially the stainless steel thermal variety <br>
                    • &nbsp No filters required <br>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                <img class="img-responsive" src="{% static 'assets/img/French-Press-Coffee-Brewing-300x300.jpg' %}">
            </div>
			
        </div>
    </div>
{% endblock %}

