{% extends 'bean_app/base.html' %}
{% load staticfiles %}
{% block title_block %}
     BeanStack
{% endblock %}

{% block head_block %}
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
{% endblock %}

<!--This will probably be the only page that will use the banner-->
{% block banner_block %}
 <div class="container hero">
     <div class="row">
         <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
             <h1>What's your favourite coffee?</h1>
             <br>
             <a href="{% url 'browse' %}">
                 <button id="home-button" class="btn btn-default btn-lg action-button" type="text">
                    <span>Rate and review your favourite coffee beans!</span>
                </button>
             </a>
         </div>
         <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-1 hidden-xs hidden-sm phone-holder">
             <img src="{% static 'assets/img/BeanStackLogo3.png'%}">
             <div class="iphone-mockup">
                 <div class="screen"></div>
             </div>
         </div>
     </div>
 </div>
<div class="text-center" style="margin-top: 100px;">
    <span id="arrowbutton" class="glyphicon glyphicon-circle-arrow-down" style="font-size: 50px; color: white; opacity: 0.2;"></span>
</div>

{% endblock %}

{% block body_block %}


    <div id="popularcoffees" class="container" style="margin-top: 150px;">
         <div class="intro">
             <h2 id="heading" class="text-center">Most popular coffee beans!</h2>
         </div>
         <div class="row articles">
             {% for bean in beans %}
                 <div class="col-md-4 col-sm-6 item">
                     <a href="#"><img class="img-responsive" src="{% static 'assets/img/BeanType2.png'%}" width="293px" height="195px"></a>
                     <h3 class="name">{{ bean.name }}</h3>
                     <p class="description">{{ bean.description }}</p>

                        <a href="{% url 'product' bean.slug %}" class="action">
                         <i class="glyphicon glyphicon-circle-arrow-right"></i>
                     </a>
                 </div>
             {% endfor %}
         </div>
     </div>
    <script src="{% static 'assets/js/home.js' %}"></script>
{% endblock %}
