{% extends 'bean_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Maps
{% endblock %}

{% block head_block %}
   <meta name="viewport" content="initial-scale=0.5, user-scalable=no">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
{% endblock %}

{% block body_block %}
    <a href="{% url 'maps' %}?beanstack-cafes=True"><button class="btn btn-default">BeanStack Cafes</button></a>
    <a href="{% url 'maps' %}?other-cafes=True"><button class="btn btn-default">Other Cafes</button></a>
    <a href="{% url 'maps' %}?selected-cafe=1"><button class="btn btn-default">Select Cafe</button></a>
{% endblock %}


{% block map_block %}
    <div id="map" style="width: 700px; height: 450px; margin: auto"></div>
    <script type="text/javascript">
        var otherCafes = {{ other_cafes|lower }};
        var beanstackCafes = {{ beanstack_cafes|lower }};
        var selectedCafe = {{ selected_cafe|lower }}
        var positions = [
            {% for position in positions %}
                { 'lat' : {{ position.lat }}, 'lng': {{ position.lng }}},
            {% endfor %}
        ]
    </script>
    <!--NOTE: This jquery script need to be imported first to avoid an error, but it is already present on the main base.html page
    We need to change the order of the imports to fix this-->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/maps.js' %}"></script>
    <script src="{% url 'load_api' %}" async defer></script>
{% endblock %}