<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-Dual-Column.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Header-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Profile-Edit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Profile-Edit1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Reviewbtn.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Reviewbtn1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Slides_home.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Tag-cloud.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-Grid.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/User-Chat.css' %}">
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                    <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">Bean Stack</a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="active" role="presentation"><a href="#">About </a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Beans <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a href="#">Reviews and Ratings</a></li>
                                    <li role="presentation"><a href="#">Bean Types </a></li>
                                    <li role="presentation"><a href="#">Brewing </a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" target="_self">
                            <div class="form-group">
                                <label class="control-label" for="search-field"><i class="glyphicon glyphicon-search"></i></label>
                                <input class="form-control search-field" type="search" name="search" id="search-field">
                            </div>
                        </form>
                        <p class="navbar-text navbar-right"><a class="navbar-link login" href="#">My Account</a> <a class="btn btn-default action-button" role="button" href="#">Log out </a></p>
                    </div>
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                        <h1>About the product.</h1>
                        <p>Details of the product.</p>
                        <p>Rating of product.</p>
                        <button class="btn btn-default btn-lg action-button" type="button">Add a review</button>
                    </div>
                    <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-1 hidden-xs hidden-sm phone-holder"><img class="img-responsive" src="assets/img/BeanType2.png">
                        <div class="iphone-mockup">
                            <div class="screen"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Reviews </h2>
                <p class="text-center">This section will show the top three coffee beans </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                            <a><img></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">User 1</h4>
                            <p>Review 1. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                            <a><img></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">User 2</h4>
                            <p>Review 2. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                            <a><img></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">User 3</h4>
                            <p>Review 3.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                            <a><img></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">User n</h4>
                            <p>Review 4.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Add your review! </h2>
                <p class="text-center">This section will show the top three coffee beans </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
	<div class="row" style="margin-top:30px;">
		<div class="col-md-12">
    	<div class="well well-sm">
            <div class="text-right">
                <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Add Review</a>
            </div>
        
            <div class="row" id="post-review-box" style="display:none;">
                <div class="col-md-12">
                    <form accept-charset="UTF-8" action="" method="post">
                        <input id="ratings-hidden" name="rating" type="hidden"> 
                        <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
        
                        <div class="text-right">
                            <div class="stars starrr" data-rating="0"></div>
                            <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                            <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                            <button class="btn btn-success btn-lg" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
         
		</div>
	</div>
</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 item">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Reviews </a></li>
                            <li><a href="#">Bean Types</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 item">
                        <ul>
                            <li><a href="#">School of Computing Science, University of Glasgow </a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 item">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">All rights reserved &nbsp; </p>
                        <p class="copyright">Bean Stack © 2018 </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/Profile-Edit.js' %}"></script>
    <script src="{% static 'assets/js/Reviewbtn.js' %}"></script>
</body>

</html>