{% extends 'bean_app/base.html' %}
{% load staticfiles %}
{% load bean_app_template_tags %}

{% block title_block %}
    Product details
{% endblock %}

{% block head_block %}
    <meta name="viewport" content="initial-scale=0.5, user-scalable=no">
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
{% endblock %}

{% block banner_block %}
    <div class="container hero">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                <h2 style="color:#FFFFFF", class="text-left">{{ bean.name }}</h2>
                <p style="opacity: 0.7;">{{ bean.description }}</p>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                <img class="img-responsive" src="{% static 'assets/img/BeanType2.png' %}">
                <div class="iphone-mockup">
                    <div class="screen"></div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                <p>{{ bean.location }}</p>
                <p>£{{ bean.price }}</p>
                <p>
                    average rating: {{ average_rating }}
                    {% autoescape off %}
                        <span>{% get_stars bean.average_rating white %}</span>
                    {% endautoescape %}
                </p>
             </div>
             <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                 <p>
                    {% for tag in tags %}
                        <span class="btn btn-default action-button">{{ tag }}</span>
                    {% endfor %}
                 </p>
                 <button id="review-button" class="btn btn-default btn-lg action-button" type="button">Write a review</button>
                 {% if user.is_authenticated %}
                    <button id="add-button" class="btn btn-default btn-lg action-button" type="button">Add to my BeanStack</button>
                 {% endif %}
                 <button id="vendor-button" class="btn btn-default btn-lg action-button" type="button">Find vendor</button>
                 <button id="radar-button" class="btn btn-default btn-lg action-button" type="button">Taste analysis</button>
             </div>
        </div>
    </div>
{% endblock %}

{% block body_block %}

    <!--This is the start of the radar stuff-->
    <div id="radar-heading">
        <h2 class="text-center">Taste Analysis</h2>
    </div>

    <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
	<script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
		ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];
	</script>

    <div id='myChart' style="min-height: 500px" ><a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a></div>
    <style>
        html, body {
            height:100%;
            width:100%;
        }
        #myChart {
            height:100%;
            width:100%;
            min-height:250px;
        }
        .zc-ref {
            display:none;
        }
    </style>
    <script>
        var myConfig = {
          type : 'radar',
          plot : {
            aspect : 'area',
            animation: {
              effect:3,
              sequence:1,
              speed:700
            }
          },
          scaleV : {
            visible : false
          },
          scaleK : {
            values : '',
            labels : [
                {% for tag in tags %}
                    '{{ tag.tag_type.name }}',
                {% endfor %}
            ],
            item : {
              fontColor : '#607D8B',
              backgroundColor : "white",
              borderColor : "#aeaeae",
              borderWidth : 1,
              padding : '5 10',
              borderRadius : 10
            },
            refLine : {
              lineColor : '#c10000'
            },
            tick : {
              lineColor : '#59869c',
              lineWidth : 2,
              lineStyle : 'dotted',
              size : 20
            },
            guide : {
              lineColor : "#607D8B",
              lineStyle : 'solid',
              alpha : 0.3,
              backgroundColor : "#c5c5c5 #718eb4"
            }
          },
          series : [
            {
              values : [
                {% for tag in tags %}
                    {{ tag.value }},
                {% endfor %}
              ],
              text:'farm',
              backgoundColor: '#21A3AC'
            },
          ]
        };

        zingchart.render({
            id : 'myChart',
            data : myConfig,
            height: '100%',
            width: '100%'
        });
    </script>

    <!--End of the radar chart stuff -->

    <div id="vendor-heading">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Find a Vendor</h2>
            </div>
        </div>
    </div>

    <div class ="center panel panel-default" style="max-width: 750px; margin: auto;">

            <div class="panel-body">
                <div class="btn-group">
                    <button id="select-cafe" class="btn btn-secondary btn-md">Select Cafe</button>
                    <button id="beanstack-cafes" class="btn btn-secondary btn-md">BeanStack Cafes</button>
                    <button id="other-cafes" class="btn btn-secondary btn-md">Other Cafes</button>
                </div>
                <div id="map-canvas" style="background: transparent url({% static 'assets/img/source.gif' %}) no-repeat center center;">
                    <div id="map" style="width: 100%; height: 450px; margin: auto;"></div>
                </div>
            </div>
            <div class="panel-footer">
                <div id="map-message" class=""></div>
            </div>

    </div>
    <br>
    <br>
    <br>
    <div id="reviews" class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Reviews </h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for review in reviews %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ review.user }}</div>
                        <div class="panel-body">
                             {% autoescape off %}
                                <span>{% get_stars review.rating '#D17581' %}</span>
                            {% endautoescape %}
                            <p>{{ review.comment }}</p>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- This is the write a review section -->
    {% if user.is_authenticated %}
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Add your review! </h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="row" style="margin-top:30px;">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Add Review</a>
                                </div>
                                <div class="row header-blue" id="post-review-box" style="display:none; border-radius: 15px;">
                                    <div class="col-md-12">
                                        <form accept-charset="UTF-8" action="." method="post">
                                            {% csrf_token %}
                                            <input id="ratings-hidden" name="rating" type="hidden" value="0">
                                            <input id="coffee-name-hidden" name="coffee-bean" type="hidden" value="{{ bean.slug }}">
                                            <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5" style="background: rgba(0, 0, 0, 0); color: white; margin-top: 50px; margin-bottom: 50px;"></textarea>

                                            <p>How accurate do find the taste analysis?</p>

                                            <div>
                                                {% for tag in tags %}
                                                <span class="btn-group">
                                                    <button class="minus btn btn-default action-button btn-sm" type="button" data-tag="{{tag.id}}">-</button>
                                                    <label class="btn btn-default action-button btn-sm">{{tag}}</label>
                                                    <button class="plus btn btn-default action-button btn-sm" type="button" data-tag="{{tag.id}}">+</button>
                                                </span>
                                                <input id="{{tag.id}}" type="hidden" name="{{tag}}" value="0">
                                                {% endfor %}
                                            </div>


                                            <div class="text-right">
                                                <div id="star-animation" class="stars starrr" data-rating="0"></div>
                                                <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                                                <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                                                <button class="btn btn-success btn-lg" type="submit">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <br>
        <br>
        <div class="container">
            <div class="intro">
                <h4 class="text-center"><a href="{% url 'auth_login' %}">Log in to leave a review</a></h4>
            </div>
        </div>

    {% endif %}



    <!-- Modal -->
    <div id="my-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">My BeanStack</h4>
          </div>
          <div class="modal-body">
              <div class="panel-group" id="accordion">
                  <div id="class-to-add" class="panel panel-primary">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        {{ bean.name }}</a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                      <div class="panel-body">
                          <p>{{ bean.description }}</p>
                            <p>{{ bean.location }}</p>
                            <p>£{{ bean.price }}</p>
                            <p>
                                average rating: {{ average_rating }}
                                {% autoescape off %}
                                    <span>{% get_stars bean.average_rating white %}</span>
                                {% endautoescape %}
                            </p>
                            <p>
                                {% for tag in tags %}
                                    <span class="btn btn-default action-button">{{ tag }}</span>
                                {% endfor %}
                            </p>
                      </div>
                    </div>
                  </div>
                  <div id="spacer" class="center panel-collapse" style="height: 40px"><span id="arrow-glyph" class="glyphicon glyphicon-circle-arrow-down" style="position: center; font-size: 35px; color: #DDDDDD"></span></div>

                  {% for index, bean in saved_coffees %}
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ index }}">
                                      {{ bean.name }}
                                  </a>
                              </h4>
                          </div>
                          <div id="collapse{{ index }}" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <p>{{ bean.description }}</p>
                                  <p>{{ bean.location }}</p>
                                  <p>£{{ bean.price }}</p>
                                  <p>
                                      average rating: {{ average_rating }}
                                      {% autoescape off %}
                                        <span>{% get_stars bean.average_rating white %}</span>
                                      {% endautoescape %}
                                  </p>
                                  <p>
                                      {% for tag in tags %}
                                        <span class="btn btn-default action-button">{{ tag }}</span>
                                      {% endfor %}
                                    </p>
                              </div>
                          </div>
                      </div>
                  {% endfor %}
          </div>
          <div class="modal-footer">
              <p id="modal-message" class="pull-left">
                  The coffee has been added to your BeanStack!
              </p>
              <a class="pull-left" href="{% url 'my_beanstack' %}">Go to my account</a>
              <div class="btn-group">
                  <button id="modal-add" type="button" class="btn btn-default">Add</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- End of modal -->

    <!-- This is the vendor detail modal  -->

    <div id="vendor-detail-modal" class="modal fade" tabindex="-1" role="dialog">

      <div class="modal-dialog" role="document">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Modal title</h4>
          </div>

          <div class="modal-body">
              <p id="description"></p>
              <p id="online-shop"></p>
              <p id="address"></p>
              Coffees on sale:
              <ul id="products">
                  <!--insert products here via jQuery-->
              </ul>
          </div>

          <div class="modal-footer">


          </div>
        </div>
      </div>
    </div>

    <!--End of modal-->

    <script type="text/javascript">
        var coffeeKey = {{ bean.pk }};
        var selectedCoffee = "{{ bean.name }}";
        var beanSlug = "{{ bean.slug }}";
        var displayReviews = {{ display_reviews|lower }};
    </script>

    <!--NOTE: This jquery script need to be imported first to avoid an error, but it is already present
    on the main base.html page. We need to change the order of the imports to fix this-->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/maps.js' %}"></script>
    <script src="{% url 'load_api' %}"></script>
    <script src="{% static 'assets/js/product.js' %}"></script>
{% endblock %}