<!--{% extends 'bean_app/base.html' %}-->
<!--{% load staticfiles %}-->
<!--{% load bean_app_template_tags %}-->

<!--{% block title_block %}-->
    <!--BeanStack Sign Up Type Selection-->
<!--{% endblock %}-->

<!--{% block body_block %}-->
    <!--<div class="team-grid">-->
        <!--<div class="container">-->
            <!--<div class="intro">-->
                <!--<h2 class="text-center">Select whether you are a vendor or a consumer!</h2>-->
                <!--<p class="text-center">&nbsp; </p>-->
            <!--</div>-->
            <!--<div class="row people">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="btn-group btn-group-justified" role="group"><a class="btn btn-primary btn-lg" role="button" href="{% url 'signup' %}">Consumer </a><a class="btn btn-success btn-lg" role="button" href="{% url 'vendorsignup' %}">Vendor </a></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--{% endblock %}-->