{% extends 'bean_app/base.html' %}
{% load staticfiles %}
{% load bean_app_template_tags %}

{% block title_block %}
    Brewing details
{% endblock %}

{% block head_block %}
    <meta name="viewport" content="initial-scale=0.5, user-scalable=no">
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
{% endblock %}

{% block banner_block %}
    <div class="container hero">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                <h2 style="color:#FFFFFF", class="text-left">Stovetop Moka Pot</h2>
                <p style="opacity: 0.7; color:#FFFFFF;">
					Originally patented in 1933 by Alfonso Bialetti, stovetop style coffee makers use steam 
					pressure from boiled water in the lower section to pass through coffee grounds in the mid 
					chamber of the pot. Brewed coffee then sits in the higher chamber. A well designed stovetop 
					pot will created better pressure. Common brands include Bialetti, Pedrini, and Kabalo.
					<br>
					<br>
					<br>
				    • &nbsp Grind of Beans: Fine-Medium Coarse <br>
                    • &nbsp Ground Coffee: 2.5-3 tablespoons of coffee (17-22g) <br>
                    • &nbsp Brewing Time: 5 minutes <br>
                    • &nbsp Flavour Profile: espresso-style coffee, strong and can be bitter <br>
                    • &nbsp Cost: $20-60 <br>
                    • &nbsp Requires a gas stove <br>                  
                    • &nbsp Produces the equivalent of a single or double shot <br>
                    • &nbsp Easy to clean <br>
                    • &nbsp Portable and durable <br>
                    • &nbsp No extra filters required <br>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                <img class="img-responsive" src="{% static 'assets/img/Stovetop-Moka-Pot-Coffee-Brewing-300x300.jpg' %}">
            </div>
			
        </div>
    </div>
{% endblock %}

